$border-radius: 5px;
.prod-container {
    width: 100%;
    display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    margin-top: 1em;
}

.card {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    margin: 1em;
    padding: .5em;
    min-width: 250px;
    width: 250px;
    min-height: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(184, 168, 168, 0.2);
    overflow: hidden;

    a {
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }

    img {
        width: 50%;
        max-height: 170px;
        object-fit: scale-down;
    }

    &__body {
        align-self: flex-start;
        min-height: 100px;
        padding: .5em;

        h3 {
            margin: .5em 0;
            font-size: 1.3rem;
        }
    }
}
