.item-detail-container {
    margin: 1em;

    img {
        width: 50%;
        max-height: 245px;
        object-fit: scale-down;
    }
}

.item-header {
    display: flex;
        flex-direction: row;
        flex-wrap: nowrap ;
}

.btn-cta {
    text-decoration: none;
    padding: .5em;
    margin-top: 1em;
    background-color: color(primary);
    border-radius: 6px;
    color: color(secondary);
    border: 2px solid color(primary);
    cursor: pointer;
}
