.item-count {
    display: flex;
        flex-direction: column;

    &__qty {
        margin: .7em;
        font-size: 1rem;
        text-decoration: none;
        border: none;
        background-color: #ffff;
        cursor: pointer;
    }

    &__btn {
        text-decoration: none;
        padding: .5em;
        background-color: color(primary);
        border-radius: 6px;
        color: color(secondary);
        border: 2px solid color(primary);
        cursor: pointer;

        &:disabled, [disabled] {
            border: 1px solid #999999;
            background-color: #cccccc;
            color: #666666;
        }
    }

    &__input {
        text-align: center;
        max-width: max-content;
        border: none;
    }

}