@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  min-width: 100%;
}

nav {
  padding: 0 1em;
  background-color: #37392E !important;
  color: #d0cddb !important;
}

.nb-link {
  padding: 0 5em !important;
}

@media only screen and (min-width: 992px) {
  .nb-link {
    padding: 0 3em !important;
  }
}

.nb-logo {
  font-size: 1.4rem;
  font-weight: 700;
}

.dropdown-content {
  min-width: 150px !important;
}

.dropdown-content li a {
  font-size: .9rem !important;
}

.material-icons {
  margin-left: 0 !important;
}

.sidenav {
  max-width: 270px;
}

.progress {
  margin: 0 !important;
}

.row .col {
  padding: 0 !important;
}

.prod-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: .5em;
  min-width: 250px;
  width: 250px;
  min-height: 350px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(184, 168, 168, 0.2);
  overflow: hidden;
}

.card a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 50%;
  max-height: 170px;
  object-fit: scale-down;
}

.card__body {
  align-self: flex-start;
  min-height: 100px;
  padding: .5em;
}

.card__body h3 {
  margin: .5em 0;
  font-size: 1.3rem;
}

.item-count {
  display: flex;
  flex-direction: column;
}

.item-count__qty {
  margin: .7em;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  background-color: #ffff;
  cursor: pointer;
}

.item-count__btn {
  text-decoration: none;
  padding: .5em;
  background-color: #37392E;
  border-radius: 6px;
  color: #d0cddb;
  border: 2px solid #37392E;
  cursor: pointer;
}

.item-count__btn:disabled, .item-count__btn [disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.item-count__input {
  text-align: center;
  max-width: max-content;
  border: none;
}

.item-detail-container {
  margin: 1em;
}

.item-detail-container img {
  width: 50%;
  max-height: 245px;
  object-fit: scale-down;
}

.item-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.btn-cta {
  text-decoration: none;
  padding: .5em;
  margin-top: 1em;
  background-color: #37392E;
  border-radius: 6px;
  color: #d0cddb;
  border: 2px solid #37392E;
  cursor: pointer;
}

.containerCategory {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
}
