@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  min-width: 100%;
}

.nb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding: .5em 1em;
  background-color: #37392E;
  color: #d0cddb;
  line-height: 0;
}

.nb-logo {
  font-size: 1.4rem;
  font-weight: 700;
}

.nb li {
  padding: 1em;
  cursor: pointer;
}

.prod-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: .5em;
  width: 325px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card img {
  width: 50%;
  max-height: 245px;
  object-fit: scale-down;
}

.card__body {
  align-self: flex-start;
  max-height: 250px;
  padding: .5em;
}

.card__body h3 {
  margin: .5em 0;
  font-size: 1.5rem;
}

.card__body-desc {
  font-size: .8rem;
  min-height: 135px;
}

.item-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-count__qty {
  text-decoration: none;
  border: none;
  background-color: #ffff;
  cursor: pointer;
}

.item-count__btn {
  text-decoration: none;
  padding: .5em;
  background-color: #37392E;
  border-radius: 6px;
  color: #d0cddb;
  border: 2px solid #37392E;
  cursor: pointer;
}

.item-count__input {
  text-align: center;
  max-width: max-content;
}

.item-count input[type=number] {
  border-bottom: none !important;
}
